.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  // Путь к изображениям из SASS-файла всегда такой, как из папки css
  background-image: url('../images/demo.jpg');
  background-size: cover;
  background-position: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;

  margin-top: -30px;
  margin-left: -30px;
 

  
}

.info {
  display: flex;
justify-content: space-between;

}

.info-item{
  display: flex;
  text-align: center;

}

.photo-card{
width: 100%;
  flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.photo-card img {
  width: 100%;
}

.search-form{
  margin-top: 10px ;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  
    @media screen and (min-width: 480px) {
      width: 480px;
    }
  
    @media screen and (min-width: 768px) {
      width: 768px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
}

.load-more {
  display: block;

margin-left: auto;
margin-right: auto;
}

